################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MockWeb/.vs/MockWeb
/MockWeb/.vs/ProjectEvaluation
/MockWeb/MockWeb/obj
/MockWeb/MockWeb/bin/Debug/net8.0
