################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BestStoreMVC/.vs
/BestStoreMVC/BestStoreMVC/bin/Debug/net8.0
/BestStoreMVC/BestStoreMVC/Migrations
/BestStoreMVC/BestStoreMVC/obj
